---
import Layout from "@/layouts/Layout.astro";
import Oas from "oas";
import sofiaSpec from '../definitions/openapi.json';

import { Search } from "@/components/Search";

if (!Astro.locals.user) {
	return Astro.redirect("/auth/login");
}

const sofia = new Oas(sofiaSpec);
---

<Layout
	title="Sofia.front"
	description="Front para la IA Sofia de Opensistemas"
>
	<main class="text-white">
		<article class="mt-24">
			<Search paths={sofia.getPaths()} client:load/>
		</article>
	</main>
</Layout>
